@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Raleway-regular/Raleway-regular.eot');
  src: url('/fonts/Raleway-regular/Raleway-regular.eot?#iefix') format('embedded-opentype'),
       local('Raleway'),
       local('Raleway-regular'),
       url('/fonts/Raleway-regular/Raleway-regular.woff2') format('woff2'),
       url('/fonts/Raleway-regular/Raleway-regular.woff') format('woff'),
       url('/fonts/Raleway-regular/Raleway-regular.ttf') format('truetype'),
       url('/fonts/Raleway-regular/Raleway-regular.svg#Raleway') format('svg');
}

@font-face {
  font-family: 'Lora';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Lora-regular/Lora-regular.eot');
  src: url('/fonts/Lora-regular/Lora-regular.eot?#iefix') format('embedded-opentype'),
       local('Lora'),
       local('Lora-regular'),
       url('/fonts/Lora-regular/Lora-regular.woff2') format('woff2'),
       url('/fonts/Lora-regular/Lora-regular.woff') format('woff'),
       url('/fonts/Lora-regular/Lora-regular.ttf') format('truetype'),
       url('/fonts/Lora-regular/Lora-regular.svg#Lora') format('svg');
}

body {
	font-family: 'Lora', serif;
	background-color: #6599CB;
}

.page {
	background-color: white;
	height: 100%;
}

.contact {
	font-family: 'Raleway', sans-serif;
}

.topleft {
	padding: 14px;
}

.topright {
	padding: 14px;
	text-align: right;
}
h1 {
	line-height:45px;
	padding-top:40px;
	margin-bottom:0px;
	font-family: 'Raleway', sans-serif;
  font-size: 45px;
  font-weight: 300;
  margin: 0;
  color: #FF473B;
}
h2 {
	margin: 0;
	font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #919191;
}
.contact h2 {
	white-space: nowrap;
}

.topright ul{
	white-space: nowrap;
	list-style: none;
}

header {
	width: 100%;
	height: 330px;
	background: #333e52 url("/images/blueberries.jpg");
  background-size: cover;
}
.mask {
	height: 100%;
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.1), rgba(0,0,0,0.5))
}

header h1 {
	color: #eee;
	position: relative;
  top: 120px;
}

header h2 {
	color: #ddd;
	position: relative;
  top: 130px;
}

.core_services {
	margin-top: 15px;
	color: #efefef;
	background: #df252a;
	background: #df252a url("/images/service_2.png") no-repeat right;
	background-position: 90%;
}

.core_services ul {
	margin-top: 0;
	font-size: 14px;
	line-height: 1.2em;
}

.core_services h1 {
	font-family: 'Lora', serif;
	color: white;
	font-size: 22px;
	padding: 0;
	text-align: center;
}

#apd_logo {
	padding: 15px 0;
	background: white;
	width: 100%;
}

.statement p {
	font-size: 16px;
	color: #5e5e5e;
}


.details h1 {
	padding: 15px;
	text-align: center;
}
.details table {
	padding: 20px;
	margin: auto;
	margin-bottom: 20px;
	background: #eee;
}
.details table td {
	padding: 5px 15px;
}

.details table tr:first-child {
	text-align: center;
}

.details table tr:nth-child(even) {
	background: rgba(0,0,0,0.1);
}
.details table td:nth-child(even) {
	background: rgba(0,0,0,0.1);
}

footer {
	width: 100%;
	height: 300px;
	background: linear-gradient(#959597, #1b2463);
}
footer img {
	display: inherit;
	margin: auto;
	width: 100px;
	top: 130px;
}
footer ul {
	padding: 30px;
	color: #efefef;
	text-align: right;
	list-style: none;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}
footer ul li:first-child{
	font-size: 24px;
}
footer ul li a {
	color: #3b9fff;
	text-decoration: underline;
}
#footer_cherry {
	height: 100%;
	background: rgba(0,0,0,0) url("/images/cherry.png") no-repeat;
	background-position: 50% 90%;
	background-size: 120px;
}

