<div class="box">
  <h2>New User</h2>
  {{#if error}}
  <p class="error">{{error}}</p>
  {{/if}}
  <form action="/createNewUser" method="post">
    {{> input field="Name" required=true helpText="Your name"}}
    {{> input field="Email" required=true type="email" helpText="Your email"}}
    {{> input field="Password" required=true type="password" helpText="Your password"}}

    <input type="submit" value="Create" />
  </form>
