<div class="box">
  <h2>Forgot Password</h2>
  <form action="/forgotPassword" method="post">
    {{> input field="email" type="email" helpText="Your email" required=true}}
    <input type="submit" value="Send Reset Email" />
  </form>
  {{#if error}}
  <p class="error">{{error}}</p>
  {{/if}}
</div>