
<div class="box">
  <h2>Forgot Password</h2>
  <form action="/recoverAccount" method="post">
    {{> input field="Email" type="email" helpText="Your email" required=true}}
    <input type="submit" value="Send Reset Email" />
  </form>
</div>
