<h1>This is a list page</h1>

<p>Put list stuff here</p>

<div>
  <table id="myTable"></table>
</div>

<script>
  console.log("hey, we're in list.hbs")

  $.ajax('/{{controllerName}}/columns')
    .then(function (data) {
      let columns = JSON.parse(data)
      columns.forEach(addRenders)

      $('#myTable').DataTable({
        ajax: {
          url: '/{{controllerName}}/json',
          dataSrc: 'data',
          data: function (d) {
            delete d.columns;
            return d
          }
        },
        order: [[0, 'desc']],
        processing: true,
        serverSide: true,
        columns: columns
      });

    })

  function addRenders(column) {
    const links = []
    {{#each links}}
    links.push({{{this}}})
    {{/each}}

    console.log(links)
    console.log(column)

    if (column.type === 'date') {
      column.render = function (data, type, row, meta) {

        let time = new Date(data).toLocaleTimeString()
        let date = new Date(data).toLocaleDateString()
        return `${time} ${date}`
      }
    }
  }

</script>