<h1>This is a Read page</h1>

<style>
  table {
    border-collapse: collapse;
    margin: 15px 0;
  }

  td:first-child {
    font-weight: bold;
  }

  td {
    border: 1px solid black;
    padding: 5px;
  }
</style>

<a href="/{{controller}}">Back to table {{title}}</a>

<div>
  <table></table>
</div>

<script>
  var data = {{{ json }}}
  console.log(data)

  d3.select("table")
    .selectAll("tr")
    .data(Object.entries(data))
    .enter()
    .append("tr")
    .html(function ([key, value]) {

      if (typeof value === 'object') {
        value = JSON.stringify(value)
      }

      if (value && value !== 'null' && (key === 'image' || key === 'photo')) {
        value = `<img src="${value}" />`
      }

      return `<td>${key}</td><td>${value}</td>`
    })

</script>