<div class="box">
  <h2>Reset Password</h2>
  {{#if token}}
  <form action="/resetPassword" method="post">
    <input type="hidden" name="token" value="{{token}}" />
    {{> input field="password" type="password" helpText="New password" required=true}}
    {{> input field="confirmPassword" type="password" helpText="Confirm new password" required=true}}
    <input type="submit" value="Set password" />
  </form>
  {{/if}}
  {{#if error}}
  <p class="error">{{error}}</p>
  {{/if}}
  {{#if forgotPasswordUrl}}
  <p><a href="{{forgotPasswordUrl}}">Request a new reset link</a></p>
  {{/if}}
</div>
