<html>

<head>
  <style>
    :root {
      color-scheme: light dark;
    }
  </style>
</head>

<body>
  <h1>
    500 Server Error
  </h1>
  <pre>
Error in Website "{{ website }}":
{{ error }}

{{ stack }}

{{ template }}
  </pre>
</body>

</html>