<form action="/login" method="post">
  {{> input field="Email" helpText="Your email"}}

  {{> input field="Password" type="password" helpText="Your password"}}

  <input id="loginButton" type="submit" value="Login" />
</form>