<html lang='en'>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv='x-ua-compatible' content='ie=edge' />
    <meta name='viewport' content='width=device-width,initial-scale=1' />
    <title>{{title}}</title>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css' />
    <script src='https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js'></script>

  </head>
  <body>

    <div class='container page'>
      <div class='row'>
        <div class='col-xs-12'>
          {{> content}}
        </div>
      </div>
    </div>

<script>
  console.log('Hey, we have a wrapper')
</script>
  </body>
</html>