$background: #dce0e8;

// dark mode:
// #1f1d2e
// #191824

body {
  background: #191824;
}

div.page {
  background: $background;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  background: $background;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

div.default-crud-styles {
  div.datatables-table-container {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 10px;

    .dt-layout-cell {
      padding: 0.5em;
    }
    label[for="dt-length-0"] {
      margin: 10px;
      border: 1px dotted #b6b2d3;
      padding: 0.2em;
    }
  }

  p.blob {
    line-break: anywhere;
  }
  h1 {
    text-transform: capitalize;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
    th {
      text-align: left;
      padding-right: 10px;
    }

    td:first-child {
      font-weight: bold;
    }
    td {
      text-align: left;
      padding: 0.2em 0.5em;
      border: 1px solid #e0def4;
      input {
        width: 100%;
      }
    }
  }

  div.login {
    width: 50%;
    margin: auto;

    form {
      display: flex;
      flex-flow: column;
      margin: auto;

      sub {
        vertical-align: sub;
        font-size: smaller;
        bottom: -0.5em;
      }
    }
  }
}

p.error {
  color: red;
}
label {
  text-transform: capitalize;
}